.prod-cl{
    width: 50%;
    text-align: center;
}

.prod-cl .legend{
    margin-top: 20px;
    text-align: center;
    color: ##FF7143;
}

.prod-cr{
    width: 50%;
    margin-bottom: 60px;
}

.prod-cl img{
    width: 300px;
    height: 300px;
    border-radius: 70px;
}

.prod-cr h2 {
    color: #FF7143;
}

.prod-cr p {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 60px;
}

.preco-unidade{
    font-size: 16px;
}

.button{
    text-decoration: none;
    color: #FF7143;
    background-color: darkred;
    padding: 12px;
    font-weight: bold;
    border-radius: 7px;
}